[project]
	description = Machine learning python coding
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wilsonyang
[access "refs/for/refs/*"]
	read = group user/wilsonyang
	push = group user/wilsonyang
	label-Code-Review = -2..+2 group user/wilsonyang
	label-Verified = -1..+1 group user/wilsonyang
	rebase = group user/wilsonyang
	removeReviewer = group user/wilsonyang
	submit = group user/wilsonyang
[access "refs/heads/*"]
	read = group user/wilsonyang
	create = group user/wilsonyang
	push = +force group user/wilsonyang
	pushMerge = group user/wilsonyang
[access "refs/tags/*"]
	push = group user/wilsonyang
	push = +force group user/wilsonyang
